<button (click)="extra()">click it</button><br>
<button (click)="test()">Test</button><br>
<button (click)="public()">Public</button><br>
<button (click)="matchdetails()">Match details</button><br>
<button (click)="startmatch()">Start Macth</button><br>
<button (click)="activerroms()">Active Rooms</button><br>
<button (click)="getroomID()"> RoomsIDS</button><br>

<button (click)="play()">Play Game</button><br>

<!-- <input [(ngModel)]="this.mes" placeholder="Input message" > -->

<button (click)="display()">display</button><br>
