<button (click)="extra()">click it</button><br>
<button (click)="test()">Test</button><br>
<button (click)="public()">Public</button><br>
<button (click)="private()">Private</button><br>
<button (click)="matchdetails()">Match details</button><br>
<button (click)="startmatch()">Start Macth</button><br>
<button (click)="activerroms()">Active Rooms</button><br>
<button (click)="getroomID()"> RoomsIDS</button><br>
<button (click)="invite()">Invite Friend</button><br>
<button (click)="joingameByInvite()">join through invite</button><br>
<button (click)="play()">Play Game</button><br>

<button (click)="EndGame()">End Game</button><br>

